#post{
    background: cadetblue;
}

.post__title{
    padding-top: 1rem;
    text-align: center;
}

.post__buscador{
    text-align: center;
}




.post__for{
    text-align: right;
    border: solid 1px red;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
}

